@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* variavel local (funciona em dentro da classe ou do componente do arquivo css) */
/* variavel global (funciona em todo arquivo css) */
:root {
    --azul-dnc: #0c70f2;
    --preto-dnc: #303030;
    --cinza-hover: #c9c9c9;

    --fonte-padrao: "Inter";
}



body {
    margin: 0px;
    /* margem externa */
    padding: 0px;
    /* margem interna */
    background: linear-gradient(180deg, #0c70f280 19.91%, #0c70f200 24.84%), #303030;
    background-repeat: no-repeat;
}

/* MENU DE NAVEGAÇÃO SUPERIOR */
#principal {
    width: 100%;
    height: 100px;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA;
}

#menu {
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}

/* ESTILIZAÇÃO DOS LINKS DO MENU DE NAVEGAGAÇÃO SUPERIOR */
#principal div a {
    font-family: "Inter";
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

#principal div a:hover {
    color: #cccccc;
}

/* ESTILIZAÇÃO DO BOTÃO LOGIN */
#principal button {
    margin-right: 5%;
    background-color: #0C70F2;
    border: 0px;
    width: 80px;
    height: 40px;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    box-shadow: 3px 2px 4px #0C70F240;
    cursor: pointer;
}

/* seção principal do site */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

header{
    color: #ffffff;
    font-family: var(--fonte-padrao);
}

header h1{
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
}

header h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 100px;
}

header .invert{
    background-color: #000000;
    font-weight: 400;
    font-size: 40px;
}

/* formulário */ 

form{
    color: #FFFFFF;
    font-family: var(--fonte-padrao);
    font-size: 30px;
    font-weight: 600;
    width: 600px;
}

.formGroup{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

form label{
    margin: 10px 0px 10px 0px;
}

form input{
    border-radius: 10px;
    border: 0px;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    background-color: #FFFFFFE5;
}

form input::placeholder{
    color: #39393980;
}

.checkboxItens label{
    font-size: 25px;
}

.checkboxItens{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="checkbox"]{
    transform: scale(1.7);
}

input[type="submit"]{
    background-color: #0C70F2E5;
    width: 100%;
    height: 56px;
    font-size: 32px;
    color: #ffffff;
    font-weight: 600;
    font-family: var(--fonte-padrao);
    margin-top: 100px;
    box-shadow: 0px 6px 4px 0px #0C70F240;
    cursor: pointer;
}

/* rodapé */

footer{
    width: 100%;
    background-color: var(--azul-dnc);
}

footer .linha1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px; /* *************** */
}

footer h5{
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
    font-family: var(--fonte-padrao);
    background-color: var(--preto-dnc);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

footer ul li{
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    font-size: 20px;
    font-family: var(--fonte-padrao);
    margin: 20px 0px 20px 0px;
}

footer ul li a{
    color: white;
    text-decoration: none;
}

footer ul li a:hover{
    color: var(--cinza-hover);
}

footer .endereco{
    font-weight: 800;
    font-size: 20px;
    font-family: var(--fonte-padrao);
    color: #ffffff;
    text-align: center;
}

footer .linha2{
    height: 35px;
    display: flex;
    justify-content: center;
    margin:0px;
    padding: 10px;
}

footer .linha2 a {
    font-family: var(--fonte-padrao);
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
}

footer .linha2 a:first-child{
    border-right: 3px solid #ffffff;
}

footer .linha2 a:hover{
    color: var(--cinza-hover);
}

@media only screen and (max-width: 600px){
    
    /* menu */
    #principal{
        flex-direction: column;
        height: auto;
    }

    #menu{
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }

    #menu a{
        height: 50px;
        align-items: center;
    }

    #principal button{
        width: 100%;
        margin: 0px;
    }

    /* secao  */

    section h1{
        font-size: 38px;
    }

    section h2{
        font-size: 28px;
        padding-right: 15px;
        padding-left: 15px;
    }

    form{
        width: 95%;
        font-size: 20px;
    }

    .checkboxItens label{
        font-size: 16px;
    }

    /* footer */

    footer .linha1{
        flex-direction: column;
    }
}